python_variable_annotations/__pycache__/7-to_kv.cpython-38.pyc
python_variable_annotations/__pycache__/2-floor.cpython-38.pyc
python_variable_annotations/__pycache__/0-add.cpython-38.pyc
.gitignore
python_variable_annotations/__pycache__/3-to_str.cpython-38.pyc
.gitignore
python_variable_annotations/__pycache__/6-sum_mixed_list.cpython-38.pyc
python_variable_annotations/__pycache__/4-define_variables.cpython-38.pyc
.gitignore
python_variable_annotations/__pycache__/5-sum_list.cpython-38.pyc
